/********** Template CSS **********/
:root {
  --primary: #0149ad;
  --secondary: #d81324;
  --light: #f2f2f2;
  --dark: #111111;
}

.fw-medium {
  font-weight: 600 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(0, 0, 0, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Facts ***/
.fact {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/carousel-bg-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*** Service ***/
.service .nav .nav-link {
  background: var(--light);
  transition: 0.5s;
}

.service .nav .nav-link.active {
  background: var(--primary);
}

.service .nav .nav-link.active h4 {
  color: #ffffff !important;
}

/*** Booking ***/
.booking {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/service-4.jpg) center center no-repeat;
  background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px;
  border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: var(--primary);
}

/*** Team ***/
.team-item .team-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  transform: scale(0);
  transition: 0.5s;
}

.team-item:hover .team-overlay {
  transform: scale(1);
}

.team-item .team-overlay .btn {
  color: var(--primary);
  background: #ffffff;
}

.team-item .team-overlay .btn:hover {
  color: #ffffff;
  background: var(--secondary);
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/*** Footer ***/
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/carousel-bg-1.jpg) center center no-repeat;
  background-size: cover;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* Blog */
.rs-inner-blog .blog-item {
  background: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 15px;
  transition: 0.3s;
}
.rs-inner-blog .blog-item .blog-img {
  position: relative;
}
.rs-inner-blog .blog-item .blog-img a img {
  border-radius: 10px;
}
.rs-inner-blog .blog-item .blog-img .post-categories {
  position: absolute;
  z-index: 11;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.rs-inner-blog .blog-item .blog-img .post-categories li {
  display: inline-block;
}
.rs-inner-blog .blog-item .blog-img .post-categories li a {
  border-radius: 30px;
  color: #ffffff;
  background: #03228f;
  background: -moz-linear-gradient(left, #03228f 0%, #03228f 0%, #03228f 26%, #4e95ed 100%, #2989d8 100%, #207cca 100%, #0b70e1 100%);
  background: -webkit-linear-gradient(left, #03228f 0%, #03228f 0%, #03228f 26%, #4e95ed 100%, #2989d8 100%, #207cca 100%, #0b70e1 100%);
  background: linear-gradient(to right, #03228f 0%, #03228f 0%, #03228f 26%, #4e95ed 100%, #2989d8 100%, #207cca 100%, #0b70e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03228f', endColorstr='#0b70e1', GradientType=1);
  transition: 0.4s;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 20px;
  display: block;
}
.rs-inner-blog .blog-item .blog-img .post-categories li a:hover {
  background: linear-gradient(to left, #03228f 0%, #03228f 0%, #03228f 26%, #4e95ed 100%, #2989d8 100%, #207cca 100%, #0b70e1 100%);
}
.rs-inner-blog .blog-item .blog-content {
  padding: 25px 15px 25px;
  overflow: hidden;
}
.rs-inner-blog .blog-item .blog-content .blog-title {
  margin: 4px 0 10px;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}
.rs-inner-blog .blog-item .blog-content .blog-title a {
  color: #0a0a0a;
}
.rs-inner-blog .blog-item .blog-content .blog-title a:hover {
  color: #106eea;
}
.rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate {
  overflow: hidden;
  margin: 0 0 5px;
  padding: 0 0 12px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate li {
  margin-right: 15px;
}
.rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate li .blog-date {
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  color: #999;
}
.rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate li .blog-date i {
  color: #0b70e1;
  margin-right: 3px;
  font-size: 14px;
  font-weight: 600;
}
.rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate li .author {
  display: inline-block;
  padding: 0;
  margin-right: 0;
  line-height: normal;
  color: #999;
}
.rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate li .author i {
  color: #0b70e1;
  margin-right: 3px;
  font-size: 14px;
  font-weight: 600;
}
.rs-inner-blog .blog-item .blog-content .blog-meta .btm-cate li:last-child {
  margin-right: 0;
}
.rs-inner-blog .blog-item .blog-content .blog-desc {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #454545;
  margin-bottom: 20px;
}
.rs-inner-blog .widget-area .widget-title .title {
  color: #101010;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding-bottom: 12px;
  margin: 0;
}
.rs-inner-blog .widget-area .widget-title .title:before {
  content: "";
  position: absolute;
  border: 0;
  width: 50px;
  height: 2px;
  background: #106eea;
  z-index: 1;
  margin-left: 0;
  bottom: 0;
  left: 0;
}
.rs-inner-blog .widget-area .search-widget {
  background: #fff;
  padding: 40px 30px 40px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.rs-inner-blog .widget-area .search-widget .search-wrap {
  position: relative;
}
.rs-inner-blog .widget-area .search-widget .search-wrap [type="search"] {
  border: 1px solid #ddd;
  color: #444444;
  padding: 12px 17px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.rs-inner-blog .widget-area .search-widget .search-wrap button {
  background: transparent;
  border: medium none;
  color: #454545;
  padding: 11px 15px 12px;
  position: absolute;
  display: block;
  right: 0px;
  top: 0;
  z-index: 10;
  font-size: 20px;
  border-radius: 0 5px 5px;
}
.rs-inner-blog .widget-area .search-widget .search-wrap button i:before {
  font-weight: 600;
  font-size: 18px;
}
.rs-inner-blog .widget-area .search-widget .search-wrap button:hover {
  color: #106eea;
}
.rs-inner-blog .widget-area .recent-posts {
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget .post-img {
  width: 100px;
  float: left;
  padding-right: 15px;
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget .post-desc {
  display: block;
  font-size: 12px;
  color: #888;
  overflow: hidden;
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget .post-desc a {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #0a0a0a;
  display: block;
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget .post-desc a:hover {
  color: #106eea;
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget .post-desc .date {
  display: block;
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget .post-desc .date i {
  margin-right: 5px;
}
.rs-inner-blog .widget-area .recent-posts .recent-post-widget .post-desc .date i:before {
  font-size: 12px;
}
.rs-inner-blog .widget-area .categories {
  background: #fff;
  padding: 40px 30px 40px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.rs-inner-blog .widget-area .categories li {
  margin-top: 13px;
  padding-top: 13px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.rs-inner-blog .widget-area .categories li a {
  font-size: 15px;
  font-weight: 500;
  color: #101010;
}
.rs-inner-blog .widget-area .categories li a:hover {
  color: #106eea;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta {
  display: flex;
  align-items: center;
  padding: 0 0 30px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta li .p-date {
  color: #555;
  font-size: 14px;
  margin-right: 8px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta li .p-date i {
  font-size: 13px;
  margin-right: 3px;
  color: #0b70e1;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta li .p-date i:before {
  margin-right: 5px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  color: #555;
  font-size: 14px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate .tag-line i {
  color: #0b70e1;
  margin-right: 3px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate .tag-line i:before {
  margin-right: 4px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate .tag-line a {
  font-weight: 400;
  color: #555;
  font-size: 14px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate .tag-line a:hover {
  color: #106eea;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta .post-comment {
  color: #555;
  font-size: 14px;
}
.rs-inner-blog .blog-details .blog-full .single-post-meta .post-comment i:before {
  color: #0b70e1;
}
.rs-inner-blog .blog-details .blog-full .comment-title {
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 35px;
}
.rs-inner-blog .blog-details .blog-full .comment-body {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 25px;
}
.rs-inner-blog .blog-details .blog-full .comment-body .rstheme-logo {
  margin-right: 28px;
}
.rs-inner-blog .blog-details .blog-full .comment-body .rstheme-logo img {
  border-radius: 50%;
  max-width: unset;
}
.rs-inner-blog .blog-details .blog-full .comment-body .comment-meta span {
  display: block;
}
.rs-inner-blog .blog-details .blog-full .comment-body .comment-meta span a {
  color: #0a0a0a;
  font-weight: 700;
  line-height: 22px;
}
.rs-inner-blog .blog-details .blog-full .comment-body .comment-meta a {
  font-size: 14px;
  color: #909090;
}
.rs-inner-blog .blog-details .blog-full .comment-note .from-control {
  width: 100%;
  padding: 15px 20px;
  background-color: #f6f7f9;
  border: none;
  border-radius: 5px;
}
.rs-inner-blog .blog-details .blog-full .comment-note textarea {
  height: 160px;
}
.rs-inner-blog .blog-details .blog-full .comment-note ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #454545;
  opacity: 1;
}
.rs-inner-blog .blog-details .blog-full .comment-note ::-moz-placeholder {
  /* Firefox 19+ */

  color: #454545;
  opacity: 1;
}
.rs-inner-blog .blog-details .blog-full .comment-note :-ms-input-placeholder {
  /* IE 10+ */

  color: #454545;
  opacity: 1;
}
.rs-inner-blog .blog-details .blog-full .comment-note :-moz-placeholder {
  /* Firefox 18- */

  color: #454545;
  opacity: 1;
}

.bs-img {
  max-width: 100%;
  height: auto;
}

.container-tabel h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 700;
  color: #222;
}

table {
  max-width: 100%;
  width: 100%;
  margin: 1.5em auto;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
}

table th {
  background: #747d8c;
  color: #fff;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
  font-size: 16px;
}

table td {
  padding: 7px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #e9e9e9;
}

table th[colspan="2"],
table td[colspan="2"] {
  width: 66.66%;
}

table th[colspan="3"],
table td[colspan="3"] {
  width: 33.33%;
}

/* Steps timeline*/
.steps-timeline {
  font-size: 14px;
  line-height: 16px;
}

.step-title,
.step-description {
  margin: 15px;
  display: block;
  text-align: center;
}

.step-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ste-description {
  overflow: hidden;
  line-height: 20px;
}

.steps-timeline .step {
  outline: 1px dashed rgba(0, 128, 0, 0);
  margin-bottom: 20px;
}

.step-milestone {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 8px solid #0d6874;
  border-radius: 50%;
  margin: 15px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 678px) {
  .steps-timeline {
    border-left: 2px solid #3498db;
    margin-left: 25px;
  }

  .steps-timeline .step {
    margin-left: -25px;
    display: block;
    overflow: auto;
  }

  .step-milestone {
    float: left;
    margin-left: 10px;
  }

  .step-title,
  .step-description {
    text-align: left;
    margin-left: 70px;
  }
}
@media screen and (min-width: 678px) {
  .steps-timeline {
    border-top: 2px solid #3498db;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }

  .steps-timeline .step {
    margin-top: -30px;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
  }
}
